* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

/* Style of letterhead paper*/
article {
  background: url(../img/top-image.png) no-repeat left top;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0.2)),
    url(../img/top-image.png) no-repeat left top, url(../img/bottom-image.png) no-repeat left bottom;
  border-radius: 10px;
  background-color: white;
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
}

/* Title and logo*/

h1 {
  background-image: url(../img/logo.png);
  /* filter: drop-shadow(3px 3px 3px black); */
  border-radius: 64px;
  box-shadow: 3px 3px 3px black;
  position: absolute;
  top: 120px;
  left: 0px;
  font-size: 25px;
}

/* puts content below company title and logo*/
.content {
  margin-top: 270px;
  margin-left: 25px;
  margin-right: 25px;
}

/* Fix languages position */

.languages {
  margin-left: 25px;
  margin-right: 25px;
  font-size: smaller;
}

h2 {
  font-size: 50px;
  text-align: center;
}

.p1 {
  font-size: small;
  text-align: center;
}

.p2 {
  font-size:x-small;
  text-align: center;
}

/* From project 3*/
.column {
  float: left;
  width: 49%;
} 

.columntwo {
  float: left;
  width: 49%;
} 

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* END of project 3*/

p {
  font-size: x-small;
}